<div th:replace="~{shared/header}"></div>
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- ... -->

    <!-- ... -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de armários</h6>
                        <a href="add" class="btn btn-primary ml-3">Adicionar Armários</a>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <form class="form-inline">
                        <div class="input-group ml-auto">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar..." id="searchInput" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th onclick="mostrarTabelaArmarios()">Armário 1</th>
                            <th><a href="#" class="btn btn-danger status-button excluir-btn">Excluir</a></th>
                        </tr>
                        <tr>
                            <th onclick="mostrarTabelaArmarios()">Armário 2</th>
                            <th><a href="#" class="btn btn-danger status-button excluir-btn">Excluir</a></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <!-- <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr> -->
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div id="tabelaArmarios" style="display: none;">
                <h5>Tabela de Janelas:</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Indentificação</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100101</td>
                            <td>Disponível</td>
                            <td><button class="btn btn-primary" style="margin-left: 60px;" onclick="mostrarInformacoes()" id="info">Ver informações</button></td>
                            <td><a href="/alunos/add" class="btn btn-primary">Adicionar aluno</a></td>
                        </tr>
                        <tr>
                            <td>100102</td>
                            <td>Disponível</td>
                            <td><button class="btn btn-primary" style="margin-left: 60px;" onclick="mostrarInformacoes()" id="info">Ver informações</button></td>
                            <td><a href="/alunos/add" class="btn btn-primary">Adicionar aluno</a></td>
                        </tr>
                        <tr>
                            <td>100103</td>
                            <td>Disponível</td>
                            <td><button class="btn btn-primary" style="margin-left: 60px;" onclick="mostrarInformacoes()" id="info">Ver informações</button></td>
                            <td><a href="/alunos/add" class="btn btn-primary">Adicionar aluno</a></td>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>

            <div id="informacoes" style="display: none;">
                <h4>Informações sobre o armário</h4>
                <p>Tipo:</p>
                <p>Número:</p>
                <p>Número janela:</p>
                <p>Status:</p>
                <p>Aluno:</p>
            </div>
            <!-- <div id="informacoes" style="display: none;">
                <h4>Informações sobre o armário</h4>
                <p id="tipo">Tipo:</p>
                <p id="numero">Número:</p>
                <p id="numeroJanela">Número janela:</p>
                <p id="status">Status:</p>
                <p id="aluno">Aluno:</p>
              </div>
        </div> -->
    </div>

</div>
<!-- /.container-fluid -->
<div th:replace="~{shared/footer}"></div>
